#まずGitを初期化するために"git init"を行った
#Gitの追跡されたくないファイルを管理するために
#"touch .gitignoreを行い.gitignoreファイルを作成"

#_____python関連____

#pythonが自動生成するコンパイル済みファイル
#(自動生成されるから無視)
*.pyc
#pythonのキャッシュフォルダ
__pycache__/

#____Django関連____

#SQliteのデータベースファイル
db.sqlite3
#静的なファイル
static/
#メディアファイル(ユーザがアップロードした場合)
madia/

#_____環境関連____

#pythonの仮想環境ファイル
venv/
#自作の仮想環境ファイル
myvnev/
#仮想環境変数(機密情報)
.env


#_____その他_____
#VScodeの設定ファイル
.vscode/
#ログファイル(エラー文等)
*.log
